<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="duke" class="com.shijin.learn.springidol.Juggler">
		<constructor-arg value="15" />
	</bean>

	<bean id="sonnet29" class="com.shijin.learn.springidol.Sonnet29" />

	<bean id="poeticDuke" class="com.shijin.learn.springidol.PoeticJuggler">
		<constructor-arg value="15" />
		<constructor-arg ref="sonnet29" />
	</bean>

	<bean id="theStage" class="com.shijin.learn.springidol.Stage"
		factory-method="getInstance" init-method="open" destroy-method="close" />

	<bean id="auditorium" class="com.shijin.learn.springidol.Auditorium"
		init-method="turnOnLights" destroy-method="turnOffLights" />

	<bean id="kenny" class="com.shijin.learn.springidol.Instrumentalist">
		<property name="song" value="Jingle Bells" />
		<property name="instrument">
			<bean id="saxophone" class="com.shijin.learn.springidol.Saxophone" />
		</property>
	</bean>

	<bean id="tom" class="com.shijin.learn.springidol.Instrumentalist"
		p:song="Happy new year" p:instrument-ref="piano">
	</bean>

	<bean id="piano" class="com.shijin.learn.springidol.Piano" />
	<bean id="guitar" class="com.shijin.learn.springidol.Guitar" />
	<bean id="cymbal" class="com.shijin.learn.springidol.Cymbal" />
	<bean id="harmonica" class="com.shijin.learn.springidol.Harmonica" />
	
	<bean id="hank" class="com.shijin.learn.springidol.OneManBand">
		<property name="instruments">
			<map>
				<entry key="GUITAR" value-ref="guitar" />
				<entry key="CYMBAL" value-ref="cymbal" />
				<entry key="HARMONICA" value-ref="harmonica" />
			</map>
		</property>
	</bean>
	

</beans>