<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="duke" class="com.shijin.learn.springidol.Juggler">
		<constructor-arg value="15" />
	</bean>

	<bean id="sonnet29" class="com.shijin.learn.springidol.Sonnet29" />

	<bean id="poeticDuke" class="com.shijin.learn.springidol.PoeticJuggler">
		<constructor-arg value="15" />
		<constructor-arg ref="sonnet29" />
	</bean>

	<bean id="theStage" class="com.shijin.learn.springidol.Stage"
		factory-method="getInstance" init-method="open" destroy-method="close"/>

	<bean id="auditorium" class="com.shijin.learn.springidol.Auditorium"
		init-method="turnOnLights" destroy-method="turnOffLights" />


</beans>